$main-background: #ghostwhite;

body {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 16px;
    background-color: $main-background;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 30px;

    h1 {
        font-size: 3rem;
    }

    form {
        width: 32%;
        margin: 3rem auto;
        padding: 2rem;
        border: 3px solid lightgrey;
        display: flex;
        justify-content: center;
        flex-direction: column;

        div.form-group {

            label {
                margin-right: 7px;
            }

            input {
                margin: 5px;
            }

        }

    }

}
