doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='author' content='John MacIntire')
        meta(name='description' content="JMScholar.org's server configuration on Elastic Beanstalk, using DynamoDB for storage. Templates are generated using Pug and Express templating.")
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='../styles/styles.css', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet')
        title JMScholar.org
        
    body
        h1 JMScholar.org
        
        hr
            
        p Please contact director@jmscholar.org for any concerns regarding the JMScholar Essay Competition.
        
        p For technical concerns please contact jrwmacintire@gmail.com.
        
        p.nav-links
            a(href='/upload-essay') Upload your essay
            | , if you're a student.
            
        
        
    script(src='../scripts/script.js')
