doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='author' content='John MacIntire')
        meta(name='description' content="JMScholar.org's server configuration on Elastic Beanstalk, using DynamoDB for storage. Templates are generated using Pug and Express templating.")
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='../styles/styles.css', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet')
        title JMScholar.org
        
    body
        h1 JMScholar.org
        
        hr
            
        p Please contact director@jmscholar.org for any concerns regarding the JMScholar Essay Competition.
        
        p For technical concerns please contact jrwmacintire@gmail.com.
        
        //- form(action='/register-hs' method='POST')
        //-     div.form-group
        //-         label(for='name') Name:
        //-         input(type="text" name='name' placeholder='Enter your full name...' required)
        //-     div.form-group
        //-         label(for='email') Email:
        //-         input(type='text' name='email' placeholder='Enter your email...' required)
        //-     div.form-group
        //-         label(for='participating') Participating: 
        //-         select(name='participating' required)
        //-             option(value='participating') 'Participating'
        //-             option(value='non-participating') Not 'Participating'
        //-     div.form-group
        //-         label(for='phone') Phone:
        //-         input(type='text' name='phone' required)
        //-     div.form-group
        //-         label(for='hsName') Highschool Name:
        //-         input(type='text' name='hsName' required)
        //-     div.form-group
        //-         label(for='hsCode') Highschool Code:
        //-         input(type='text' name='hsCode')
        //-     div(class="form-group")
        //-         label(for="title") Title:
        //-         select(class="titles form-control" name="title")
        //-             option(value="teacher") Teacher
        //-             option(value="counselor") Guidance Counselor
        //-             option(value="headOfDep") Head of Department
        //-             option(value="principal") Principal
        //-             option(value="vicePrincipal") Vice Principal
        //-             option(value="registrar") School Registrar
        //-     div.form-group
        //-         label(for='city') City:
        //-         input(type='text' name='city' required)
        //-     div.form-group
        //-         label(for='state') State:
        //-         select(name='state' required)
        //-             option(value='AZ') Arizona
        //- 
        //-     div(class="form-group")
        //-         label(for="ac1Name") Additional Contact:
        //-         input(type="text" class="form-control" name="ac1Name" placeholder="Enter name")
        //-     div(class="form-group")
        //-         label(for="ac1Title") Title:
        //-         select(class="titles form-control" name="ac1Title")
        //-             option(value="teacher") Teacher
        //-             option(value="counselor") Guidance Counselor
        //-             option(value="headOfDep") Head of Department
        //-             option(value="principal") Principal
        //-             option(value="vicePrincipal") Vice Principal
        //-             option(value="registrar") School Registrar
        //-     div(class="form-group")
        //-         label(for="ac1Email") Email:
        //-         input(type="text" class="form-control" name="ac1Email" placeholder="Email")
        //-     div(class="form-group")
        //-         label(for="ac1Phone") Phone:
        //-         input(type="text" class="form-control" name="ac1Phone" placeholder="Phone")
        //-     div(class="form-group")
        //-         label(for="ac2Name") Additional Contact:
        //-         input(type="text" class="form-control" name="ac2Name" placeholder="Enter name")
        //-     div(class="form-group")
        //-         label(for="ac2Title") Title:
        //-         select(class="titles form-control" name="ac2Title")
        //-             option(value="teacher") Teacher
        //-             option(value="counselor") Guidance Counselor
        //-             option(value="headOfDep") Head of Department
        //-             option(value="principal") Principal
        //-             option(value="vicePrincipal") Vice Principal
        //-             option(value="registrar") School Registrar
        //-     div(class="form-group")
        //-         label(for="ac2Email") Email:
        //-         input(type="text" class="form-control" name="ac2Email" placeholder="Email")
        //-     div(class="form-group")
        //-         label(for="ac2Phone") Phone:
        //-         input(type="text" class="form-control" name="ac2Phone" placeholder="Phone")
        //-     div(class="form-group")
        //-         button(type='submit' class='btn btn-primary') Submit (HSRF)
    
    //- form(action='/register-student' method='POST')
    //-     div.form-group
    //-         label(for="name") Name:
    //-         input(type="text" class="form-control" name="name" required)
    //-     div.form-group
    //-         label(for="email") Email:
    //-         input(type="text" class="form-control" name="email" required)
    //-     div.form-group
    //-         label(for="phone") Phone:
    //-         input(type="text" class="form-control" name="phone" required)
    //-     div.form-group
    //-         label(for="birthyear") Birthyear:
    //-         select.form-control(name="birthyear")
    //-             option(value="After 2002") After 2001
    //-             option(value="2002") 2002
    //-             option(value="2001") 2001
    //-             option(value="2000") 2000
    //-             option(value="1999") 1999
    //-             option(value="Before 1999") Before 1999
    //-     div.form-group
    //-         label(for="citizen") Are you a U.S. citizen?
    //-         input(type="radio" name="citizen" value="Yes") 
    //-         input(type="radio" name="citizen" value="No")
    //-     div.form-group
    //-         label(for="schoolName") School Name:
    //-         input(type="text" class="form-control" name="schoolName" required)
    //-     div.form-group
    //-         label(for="schoolCode") School Code:
    //-         input(type="text" class="form-control" name="schoolCode" required)
    //-     div.form-group
    //-         label(for="address") Street Address:
    //-         input(type="text" class="form-control" name="address" required)
    //-     div.form-group
    //-         label(for="city") City:
    //-         input(type="text" class="form-control" name="city" required)
    //-     div.form-group
    //-         label(for="state") State:
    //-         select.form-control(name="state")
    //-             option(value="Arizona") Arizona
    //-     div.form-group
    //-         label(for="teacher") Teacher's Name:
    //-         input(type="text" class="form-control" name="teacher" required)
    //-     div.form-group
    //-         label(for='participating') Participating: 
    //-         select(name='participating' required)
    //-             option(value='participating') 'Participating'
    //-             option(value='non-participating') Not 'Participating'
    //- 
    //-     button(type='submit') Submit (Student)
            
    form(action="/upload-essay" method="POST" enctype="multipart/form-data")
        div.form-group
            label(for="name") Name:
            input(type="text" name="name" class="form-control")
        div.form-group
            label(for="id") User ID:
            input(type="text" name="id" class="form-control")
        div.form-group
            label(for="file") Upload File:
            input(type="file" name="file" class="form-control")
        div.form-group
            button(type="submit") Submit (Essay)
        
        
    script(src='../scripts/script.js')
