html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='author' content='John MacIntire')
        meta(name='description' content="JMScholar.org's server configuration on Elastic Beanstalk, using DynamoDB for storage. Templates are generated using Pug and Express templating.")
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='../styles/styles.css', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet')
        title JMScholar.org
        
    body
        
        form(action='/register-student' method='POST')
            div.form-group
                label(for="name") Name:
                input(type="text" class="form-control" name="name" required)
            div.form-group
                label(for="email") Email:
                input(type="text" class="form-control" name="email" required)
            div.form-group
                label(for="phone") Phone:
                input(type="text" class="form-control" name="phone" required)
            div.form-group
                label(for="birthyear") Birthyear:
                select.form-control(name="birthyear")
                    option(value="After 2002") After 2001
                    option(value="2002") 2002
                    option(value="2001") 2001
                    option(value="2000") 2000
                    option(value="1999") 1999
                    option(value="Before 1999") Before 1999
            div.form-group
                label(for="citizen") Are you a U.S. citizen?
                input(type="radio" name="citizen" value="Yes") 
                input(type="radio" name="citizen" value="No")
            div.form-group
                label(for="schoolName") School Name:
                input(type="text" class="form-control" name="schoolName" required)
            div.form-group
                label(for="schoolCode") School Code:
                input(type="text" class="form-control" name="schoolCode" required)
            div.form-group
                label(for="address") Street Address:
                input(type="text" class="form-control" name="address" required)
            div.form-group
                label(for="city") City:
                input(type="text" class="form-control" name="city" required)
            div.form-group
                label(for="state") State:
                select.form-control(name="state")
                    option(value="Arizona") Arizona
            div.form-group
                label(for="teacher") Teacher's Name:
                input(type="text" class="form-control" name="teacher" required)
            div.form-group
                label(for='participating') Participating: 
                select(name='participating' required)
                    option(value='participating') 'Participating'
                    option(value='non-participating') Not 'Participating'
                           
            button(type='submit') Submit (Student)
