body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 16px;
  background-color: #ghostwhite;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 30px; }
  body div.header h1 {
    text-align: center;
    font-size: 3rem;
    margin: 2rem; }
  body div.header h2 {
    text-align: center;
    font-size: 1.8rem; }
  body div.header h3 {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 3rem; }
  body div.essayObject {
    width: 50%;
    margin: 3rem auto;
    border: '2px lightgrey solid'; }
    body div.essayObject span {
      font-weight: bold; }
  body form {
    min-width: 500px;
    max-width: 55%;
    margin: 3rem auto;
    padding: 2rem;
    border: 3px solid lightgrey;
    display: flex;
    flex-flow: column wrap; }
    body form div.essayOverwrite-group {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
      body form div.essayOverwrite-group label#essayOverwriteWarning-label {
        width: 75%;
        margin: auto;
        text-align: center; }
      body form div.essayOverwrite-group input#essayOverwriteWarning.form-control {
        width: 25%;
        height: 1.6rem;
        margin: 1rem auto 0; }
      body form div.essayOverwrite-group small {
        width: 60%;
        margin: auto; }
    body form div.form-group {
      display: flex; }
      body form div.form-group label {
        width: 20%;
        margin: auto; }
      body form div.form-group input {
        width: 80%;
        margin: auto; }
      body form div.form-group button#essaySubmit {
        margin: 1.5rem auto 0;
        padding: 1.25rem 2.75rem;
        font-size: 1.2rem; }
      body form div.form-group input#file {
        margin-right: 1rem;
        border: none; }
