body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 16px;
  background-color: #ghostwhite;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 30px; }
  body h1 {
    font-size: 3rem; }
  body form {
    width: 32%;
    margin: 3rem auto;
    padding: 2rem;
    border: 3px solid lightgrey;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    body form div.form-group label {
      margin-right: 7px; }
    body form div.form-group input {
      margin: 5px; }
